host: localhost
port: 8000
log:
  level: info
  # 'stdout' and 'stderr' are special values
  output:
    - stdout
    - app.log
  # show file with line which did loggign
  caller: true
  # show stack trace in case of error
  stacktrace: false
db:
  host: dbhost
  name: dbname
  user: dbuser
  pass: dbpass
  max-open-connections:     250
  max-idle-connections:     100
  conn-max-lifetime:        180s
